.App {
	text-align: center;
}

.courseCard {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	/* margin-top: 150px; */
	/* position: absolute; */
	padding: 250px 50px 10px;
}

.pagination {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
