html {
	scroll-behavior: smooth;
}

.App {
	text-align: center;
}

.courseCard {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	padding: 250px 50px 10px;
	outline: black;
}

.pagination {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-bottom: 50px;
}

.loader {
	margin-top: 30%;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
	.courseCard {
		padding: 500px 30px 10px;
	}
	.loader {
		margin-top: 60vh;
	}
}
